body {
  position: absolute !important;
  width: 100% !important;
}

#inject-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image:  linear-gradient(rgba(230, 230, 230, 0.15) 1px, transparent 1px), linear-gradient(to right, rgba(230, 230, 230, 0.15) 1px, transparent 1px);
  background-size: 15px 15px;;
  color: white;
  user-select: none;
  z-index: 1000;
}

#inject-overlay *,
.inject-action * {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: sans-serif;
  box-sizing: border-box;
}

#inject-overlay *[onclick] {
  cursor: pointer;
}

#inject-overlay #design-mode-decal {
  position: fixed;
  display: block;
  top: 8px;
  left: 8px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: 0 0 4px black;
}

#inject-overlay #tools {
  position: fixed;
  top: 10px;
  right: 10px;
  min-width: 200px;
  padding: 10px;
  background: black;
  border: 1px solid white;
  box-shadow: 0 0 4px black;
  pointer-events: auto;
}

#inject-overlay #tools ul {
  list-style: none;
}

#inject-overlay #tools button {
  min-width: 1rem;
  font-size: 0.7rem;
  border-color: lightgrey;
  outline: none;
}

#inject-overlay #tools button.active {
  border-style: inset;
}

#inject-overlay #tools .title {
  font-size: 0.8rem;
  border-bottom: 1px solid white;
  text-transform: uppercase;
}

#inject-overlay .flex {
  display: flex;
  column-gap: 4px;
}

#inject-overlay .flex-column {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

#inject-overlay .space-between {
  justify-content: space-between;
}

.inject-action {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  z-index: 1100;
}

.inject-action .title {
  margin-top: 4px;
  font-family: sans-serif;
  color: yellow;
  text-shadow: 0 0 4px black;
}

.region,
.inject-action .region {
  border: 2px dashed white;
  box-sizing: border-box;
}

.inject-action .resize {
  position: absolute;
  right: -3px;
  bottom: -3px;
  width: 8px;
  height: 8px;
  background: yellow;
  border-radius: 50%;
  cursor: se-resize;
}